.card::-webkit-scrollbar{
	width: 0 !important
}

.jumbotron{
	background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1491590324047-588cc8277f59?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-position-y: -310px;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    height: 400px;
}
body {
	background: #141414;
	color: #ffffff;
	overflow-x: hidden;
}
#text{
	font-size:15px;
}

p{
	text-align:center;
}

.card{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0, 0, 0);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: 10px;
	max-height: 450px;
	overflow:auto;
}


.parks-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	margin-left: 10;
}
.count{
	margin-left: 5px;
}

.rowp{
	object-fit: contain;
	width: 100%;
	max-height: 100px;
	transition: transform 450ms;
}

.rowp:hover{
transform: scale(1.08);
}

.load-more{
	height: fit-content;
    align-self: center;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.item{
	margin-right: 5px;
	flex-direction: row;
}